* {
  font-family: Arial;
}

.hidden {
  display: none;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

li {
  list-style: none;
}

.gen-button {
  height: 28px;
  width: 120px;
  font-size: 14px;
  color: white;
  background-color: #033103;
}

.gen-input {
  height: 30px;
  width: 180px;
  padding: 2px 8px;
  margin-left: 8px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-width: 5px;
}

#quote-display, #get-quote-form {
  width: 360px;
  margin: 40px auto 10px auto;
}

#quote-text {
  margin: 0 auto 20px auto;
}